__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.venv/
venv/
env/
.env

runs/
wandb/
output*/
*_output*/
*output_dir*/
*.log
events.out.tfevents*

*.pth
*.pt
*.ckpt
*.onnx
*.zip
*.tar
*.tar.gz
*.rar
*.7z

dataset/*
!dataset/SARSim/
!dataset/SARSim/*.png
weights/
